<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtp2lVVbf7X8ZEJ-IO1HLbJp0ylq2PSkg</string>
	<key>GCM_SENDER_ID</key>
	<string>314122526144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindchipps.CADashboard</string>
	<key>PROJECT_ID</key>
	<string>cadashboard-3ddbf</string>
	<key>STORAGE_BUCKET</key>
	<string>cadashboard-3ddbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314122526144:ios:2dc89b2963b91594287c25</string>
</dict>
</plist>